<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <script src="https://kit.fontawesome.com/6b22ab11f9.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="./whatsMessage.css" />
		<title>WhatsApp</title>
    </head>

    <body>
        <section>
            <div class="section left">
                <div class="nav-bar">
                <div>
                <a href="#">
                    <img src="./img/POSTIT.png" width="40px" height="42px" class="image">
                </a>
                </div>

                <div class="navlink">
                <a href="#">
                    <i class="fas fa-clock"></i>
                </a>

                <a href="#">
                    <i class="fas fa-comment-alt"></i>
                </a>

                <a href="#">
                    <i class="fas fa-ellipsis-v"></i>
                </a>
                </div>
                </div>

                <div class="input-container">
                    <i class="fas fa-search"></i>
                    <input type="search" placeholder="Search or Start new chat" class="search">
                </div>

                <section class="page">
                    <div class="names">
                        <div class="img-container">
                            <img src="./img/abstract.jpg" width="49px" height="49px" class="contact_image">
                        </div>
                        <div class="name-container">
                            <h5>Group 1</h5>
                            <p>Group Number One is the first grooup to be displayed.</p>
                        </div>
                    </div>

                    <div class="names">
                        <div class="img-container">
                            <img src="./img/abstract.jpg" width="49px" height="49px" class="contact_image">
                        </div>
                        <div class="name-container">
                            <h5>Group 2</h5>
                            <p>Group Number Two</p>
                        </div>
                </div>

                <div class="names">
                    <div class="img-container">
                        <img src="./img/abstract.jpg" width="49px" height="49px" class="contact_image">
                    </div>
                    <div class="name-container">
                        <h5>Group 3</h5>
                        <p>Group Number Three</p>
                    </div>
                </div>

                <div class="names">
                    <div class="img-container">
                        <img src="./img/abstract.jpg" width="49px" height="49px" class="contact_image">
                    </div>
                    <div class="name-container">
                        <h5>Group 4</h5>
                        <p>Group Number Five</p>
                    </div>
                </div>

                <div class="names">
                    <div class="img-container">
                        <img src="./img/abstract.jpg" width="49px" height="49px" class="contact_image">
                    </div>
                    <div class="name-container">
                        <h5>Group 6</h5>
                        <p>Group Number Six</p>
                    </div>
                </div>

            <div class="names">
                <div class="img-container">
                    <img src="./img/abstract.jpg" width="49px" height="49px" class="contact_image">
                </div>
                <div class="name-container">
                    <h5>Group 7</h5>
                    <p>Group Number Eight</p>
                </div>
            </div>

            <div class="names">
                <div class="img-container">
                    <img src="./img/abstract.jpg" width="49px" height="49px" class="contact_image">
                </div>
                <div class="name-container">
                    <h5>Group 9</h5>
                    <p>Group Number Nine</p>
                </div>
            </div>

            <div class="names">
                <div class="img-container">
                    <img src="./img/abstract.jpg" width="49px" height="49px" class="contact_image">
                </div>
                <div class="name-container">
                    <h5>Group 10</h5>
                    <p>Group Number Ten</p>
                </div>
            </div>

            <div class="names">
                <div class="img-container">
                    <img src="./img/abstract.jpg" width="49px" height="49px" class="contact_image">
                </div>
                <div class="name-container">
                    <h5>Group 11</h5>
                    <p>Group Number Eleven</p>
                </div>
            </div>

            <div class="names">
                <div class="img-container">
                    <img src="./img/abstract.jpg" width="49px" height="49px" class="contact_image">
                </div>
                <div class="name-container">
                    <h5>Group 12</h5>
                    <p>Group Number Twelve</p>
                </div>
            </div>

            <div class="names">
                <div class="img-container">
                    <img src="./img/abstract.jpg" width="49px" height="49px" class="contact_image">
                </div>
                <div class="name-container">
                    <h5>Group 13</h5>
                    <p>Group Number Thirteen</p>
                </div>
            </div>

            <div class="names">
                <div class="img-container">
                    <img src="./img/abstract.jpg" width="49px" height="49px" class="contact_image">
                </div>
                <div class="name-container">
                    <h5>Group 14</h5>
                    <p>Group Number Fourteen</p>
                </div>
            </div>

            <div class="names">
                <div class="img-container">
                    <img src="./img/abstract.jpg" width="49px" height="49px" class="contact_image">
                </div>
                <div class="name-container">
                    <h5>Group 15</h5>
                    <p>Group Number Fifteen</p>
                </div>
            </div>

            <div class="names">
                <div class="img-container">
                    <img src="./img/abstract.jpg" width="49px" height="49px" class="contact_image">
                </div>
                <div class="name-container">
                    <h5>Group 16</h5>
                    <p>Group Number Seventeen</p>
                </div>
            </div>

            <div class="names">
                <div class="img-container">
                    <img src="./img/abstract.jpg" width="49px" height="49px" class="contact_image">
                </div>
                <div class="name-container">
                    <h5>Group 18</h5>
                    <p>Group Number Eighteen</p>
                </div>
            </div>

            <div class="names">
                <div class="img-container">
                    <img src="./img/abstract.jpg" width="49px" height="49px" class="contact_image">
                </div>
                <div class="name-container">
                    <h5>Group 19</h5>
                    <p>Group Number Nineteen</p>
                </div>
            </div>

            <div class="names">
                <div class="img-container">
                    <img src="./img/abstract.jpg" width="49px" height="49px" class="contact_image">
                </div>
                <div class="name-container">
                    <h5>Group 20</h5>
                    <p>Group Number Twenty</p>
                </div>
            </div>

            <div class="names">
                <div class="img-container">
                    <img src="./img/abstract.jpg" width="49px" height="49px" class="contact_image">
                </div>
                <div class="name-container">
                    <h5>Group 21</h5>
                    <p>Group Number Twenty-One</p>
                </div>
            </div>

            <div class="names">
                <div class="img-container">
                    <img src="./img/abstract.jpg" width="49px" height="49px" class="contact_image">
                </div>
                <div class="name-container">
                    <h5>Group 22</h5>
                    <p>Group Number Twenty-Two</p>
                </div>
            </div>

            <div class="names">
                <div class="img-container">
                    <img src="./img/abstract.jpg" width="49px" height="49px" class="contact_image">
                </div>
                <div class="name-container">
                    <h5>Group 23</h5>
                    <p>Group Number Twenty-Three</p>
                </div>
            </div>
        </section>
        </div>
        </section>

        <section class="section right">
            <header>
                <div class="names">
                    <div class="img-container">
                        <img src="./img/abstract.jpg" width="49px" height="49px" class="contact_image">
                    </div>

                    <div class="name-container">
                        <h5>Group 1</h5>
                        <p>Group Number One</p>
                    </div>
                </div>


                <div class="nav-links">
                    <div>
                        <div class="search-container">
                            <a href="#">
                                <i class="fas fa-search"></i>
                            </a>
                        </div>
                    </div>

                    <div class="dropdown">
                        <i class="fas fa-ellipsis-v"></i>
                        <div class="dropdown-content">
                            <a href="#">Contact info</a>
                            <a href="#">Select messages</a>
                            <a href="#">Mute notifications</a>
                            <a href="#">Clear messages</a>
                            <a href="#">Delete chat</a>
                        </div>
                    </div>
                </div>
            </header>

            <section class="chat">
                <section class="rights">
                    <input type="text" class="txts">
                </section>

                <section class="lefts">
                    <input type="text" class="txt">
                </section>

                <section class="rights">
                    <input type="text" class="txts">
                </section>

                <section class="lefts">
                    <input type="text" class="txt">
                </section>

                <section class="rights">
                    <input type="text" class="txts">
                </section>

                <section class="lefts">
                    <input type="text" class="txt">
                </section>

                <section class="rights">
                    <input type="text" class="txts">
                </section>

                <section class="lefts">
                    <input type="text" class="txt">
                </section>

                <section class="rights">
                    <input type="text" class="txts">
                </section>

                <section class="lefts">
                    <input type="text" class="txt">
                </section>

                <section class="rights">
                    <input type="text" class="txts">
                </section>

                <section class="lefts">
                    <input type="text" class="txt">
                </section>

                <section class="rights">
                    <input type="text" class="txts">
                </section>

                <section class="lefts">
                    <input type="text" class="txt">
                </section>

                <section class="rights">
                    <input type="text" class="txts">
                </section>

                <section class="lefts">
                    <input type="text" class="txt">
                </section>

                <section class="rights">
                    <input type="text" class="txts">
                </section>

                <section class="lefts">
                    <input type="text" class="txt">
                </section>
            </section>

            <footer class="footer">
                <i class="far fa-grin"></i>

                <i class="fas fa-tag"></i>

                <input type="text" placeholder="Type your message"
                class="input" size="65">

                <div>
                    <i class="fas fa-microphone"></i>
                </div>
            </footer>
        </section>


    </body>